.main {
  box-sizing: border-box;

}

.WholeBody{
  display:grid;
  position: absolute;
  grid-template-columns: repeat(4, 1fr);
  gap:4vh;
  background-image: url('/images/Overlay.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.titlePage{
  height:50vw;
  grid-column: 1/-1;
  border: 5px solid red;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap:2vw;
}

.bottomDisplay{
  overflow:auto;
  grid-column: 1/-1;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:4vw;
}

.openingVideo{
  height:50vw;
  overflow: hidden;
  width:100%;
  grid-column: 1/-1;
}

.Testing{
  position:static;
  border: 5px solid red;
  margin:2vw;
  margin-right:4vw;
  grid-column: 4/5; 
  grid-row:1/2;
  height:20vw;
}