.main {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:5vh;
}

/* <div class="titlePage">
<div class="graphic"></div>
<div class="inputArea"></div>
</div>
<div class="displayArea">
<div class="posterOne"></div>
<div class="posterTwo"></div>
<div class="posterThree"></div>
<div class="posterFour"></div>
<div class="posterFive"></div>
<div class="posterSix"></div>
</div> */

.titlePage{
  height:100vh;
  grid-column: 1/5;
  border: 5px solid red;
/*---------------------------------------------------------------------------------------------------------*/
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 70vh 20vh;
  gap:2vh;
}

.graphic, .displayPanel, .inputArea{
  border: 5px solid blue;
  margin:4vh;
}

.graphic{
  grid-column: 1/2;
}

.displayPanel{
  grid-column: 2/3;
  grid-template-columns: repeat(2, 1fr);
  gap:2vh
}

.inputArea{
  grid-column: 2/3; 
  grid-row:2/3;
}

/*---------------------------------------------------------------------------------------------------------*/
.displayArea {
  grid-column: 1/4;
/*--------------------------------------------------------------------------------------------------------- This needs to be in a component*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2vh;
  border: 1px solid black;
  height:140vh;
  padding: 4vh;
}
/*---------------------------------------------------------------------------------------------------------*/

.posterOne,
.posterTwo,
.posterThree,
.posterFour,
.posterFive,
.posterSix {
  background-color: aquamarine;
  border: 1px solid black;
}

.posterTwo{
  grid-column: 2/4;
  grid-row: 1/3;
}

.posterFour{
  grid-column: 1/3;
  grid-row: 3/5;
}