.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 20vh;
}

/* <div class="titlePage">
<div class="graphic"></div>
<div class="inputArea"></div>
</div>
<div class="displayArea">
<div class="posterOne"></div>
<div class="posterTwo"></div>
<div class="posterThree"></div>
<div class="posterFour"></div>
<div class="posterFive"></div>
<div class="posterSix"></div>
</div> */

.titlePage{

}
.graphic{

}
.inputArea{

}

.displayArea{
  display:grid;
  border: 1px solid blue;
}

.displayArea div{
  border: 1px solid blue;
}