.openingVideo h1{
    font-size: 4vw;
    top:5vw;
}
  
.openingVideo h3{
    font-size: 1vw;
    top:11vw;
}

.openingVideo h1, .openingVideo h3{
    position:absolute;
    font-family: 'Raleway';
    color: var(--calmWhite);
    left:5vh;
}


.guideance {
    position:absolute;
    top: 40vw;
    left: 50%;
    animation: pulse 1s infinite alternate;
}

.openingVideo h4, .arrow{
    font-family: 'Raleway';
    color: var(--calmWhite);
    font-size: 0.9vw;
}
  
.arrow {
    margin:0 auto;
    width: 0;
    height: 0;
    border-left: 2vw solid transparent;
    border-right: 2vw solid transparent;
    border-top: 3vw solid var(--calmWhite);
}
  
@keyframes pulse {
    0% {
        transform: translateY(0);
        opacity: 1;
}
    100% {
        transform: translateY(10px);
        opacity: 0.5;
}
}