.openingVideo h1{
    font-size: 4vw;
    top:5vw;
}
  
.openingVideo h3{
    font-size: 1vw;
    top:11vw;
}

.openingVideo h4{
    position:absolute;
    font-family: 'Raleway';
    color: var(--calmWhite);
    font-size: 0.9vw;
    top: 60%;
    left: 50%;
}

.openingVideo h1, .openingVideo h3{
    position:absolute;
    font-family: 'Raleway';
    color: var(--calmWhite);
    left:5vh;
}

.guideance {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid black;
    animation: pulse 1s infinite alternate;
}
  
@keyframes pulse {
    0% {
        transform: translateY(0);
        opacity: 1;
}
    100% {
        transform: translateY(10px);
        opacity: 0.5;
}
}