.inputAreaWrap {
    position: sticky;
    top: 50px; /* Adjust the top position as needed */
    z-index: 1000;
}

.inputArea{
    /* border: 5px solid red; */
    top: 10px;
    z-index: 1000;
    margin:2vw;
    margin-right:4vw;
    height:20vw;
    grid-column: 4/5; 
    grid-row:1/2;
}

.inputArea input{
    background-color: var(--calmBlack);
    font-family: 'Raleway';
    font-size:0.8vw;
    border-radius: 2px;
    height:3vw;
    width: 96%;
    color: white !important;
    text-indent: 0.8vw;
}

.inputAreaImage{
    margin-top:1vw;
}

