.inputArea{
    border: 5px solid red;
    margin:2vw;
    grid-column: 4/5; 
    grid-row:1/2;
    height:20vw;
}

.inputArea input{
    background-color: var(--calmBlack);
    font-family: 'Raleway';
    font-size:1.2vw;
    border-radius: 2px;
    height:3vw;
    width: 100%;
    color: white !important;
    text-indent: 0.8vw;
}
